@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}




#wrapper {
    min-height: 100%;
    position: relative;
}
#container {
    background: red;
    padding-bottom: 80px;
    overflow: hidden;
}
#content {
    background: blue;
    width: 1000px;
    margin: 0 auto;
}
header {
    height: 68px;
    background: #fafafa;
}
header div {
    width: 1000px;
    background: red;
    height: 52px;
    margin: 0 auto;
}
h1{
    font-weight: 700;
    line-height: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    padding-left: 46rem;

}

p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 90%;
   padding-left: 17rem;
   text-align: justify;
}

img{
    width: 79%;
    line-height: 6rem;
    padding-left: 30rem;
}