*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.main-text span{
    font-size: 22px;
    align-items: center;
    justify-content: center;
}

.main-text h2{
    font-size: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 54rem;
}

.main-text span{
    padding-left: 51rem;
    font-size: 3.7rem;
}

.main-text img{
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    padding-left: 27rem;
}

.main-text img:hover{
    opacity: 0.8;
   text-transform: uppercase;

}


